# Python
__pycache__/
*.pyc

# Logs, environments
*.log
*.env
*.DS_Store

# MLflow
mlruns/
!mlruns/.gitkeep

#Data
data/intermediate/dev/*
data/intermediate/prod/*
data/processed/dev/*
data/processed/prod/*
!data/intermediate/.gitkeep
!data/processed/.gitkeep

# Logs
logs/*

# Documentation
docs/reports/*

# Virtual environments
.venv/
env/
